
.advantages {
  padding: 88px 63px 80px 103px;

  background-image: url(../img/advantages-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  margin-right: 3.3%;
  margin-bottom: 3.3%;

  width: 30%;
  max-width: 360px;
  box-sizing: border-box;
  padding: 25px 30px 10px 30px;

  background-color: #f9fbfd;
}

.advantages h2 {
  margin-right: 3.3%;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011c40;
  text-align: center;
}

.advantages__wrapper-icon {
  display: flex;
  align-items: center;
  height: 40px;
}

.advantages h3 {
  margin-top: 14px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #011c40;
}

.advantages p {
  margin-top: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #011c40;
}

.advantages__new-line {
  display: none;
}

@media (max-width: $tablet-width) {
  .advantages {
    padding: 66px 15px 68px 45px;
  }

  .advantages__item {
    margin-right: 4.3%;
    margin-bottom: 4.3%;

    width: 29%;
    padding: 15px 10px 10px 20px;
  }

  .advantages h2 {
    margin-right: 4.3%;

    font-size: 26px;
    line-height: 39px;
  }

  .advantages h3 {
    line-height: 25px;
  }

  .advantages__icon {
    &--ship {
      width: 21px;
      height: 26px;
    }

    &--daw {
      width: 33px;
      height: 19px;
    }

    &--boat {
      width: 38px;
      height: 13px;
    }
  }

  .advantages__new-line {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding: 35px 15px 40px 15px;
  }

  .advantages h2 {
    margin-right: 0;
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }

  .advantages__list {
    flex-direction: column;
    align-items: center;

  }

  .advantages__item {
    margin-right: 0;
    margin-bottom: 27px;

    width: 100%;
    padding: 20px 10px 5px 20px;
  }
}
