
.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 555px;
  box-sizing: border-box;
  padding: 30px;

  background-color: #b9f1ff;
  background-image: url("../img/booking-background@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/booking-background@2x.jpg");
  }
}

.booking__text-wrapper {
  margin-right: 144px;

  max-width: 500px;
}

.booking h2 {
  margin-top: 15px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #011c40;
}

.booking h2 + p {
  margin-top: 8px;

  max-width: 360px;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #011c40;
}

.booking__line-end {
  display: none;
}

@media (max-width: $tablet-width) {
  .booking {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 805px;
  }

  .booking__text-wrapper {
    margin-right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .booking h2 {
    margin-top: 60px;

    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  .booking h2 + p {
    margin-top: 4px;
    margin-bottom: 52px;

    text-align: center;
  }
}

@media (max-width: $mobile-width) {
  .booking {
    min-height: 760px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .booking h2 {
    margin-top: 30px;

    font-size: 24px;
    line-height: 31px;
  }

  .booking h2 + p {
    margin-top: 15px;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 22px;
  }

  .booking__line-end {
    display: block;
  }
}
