
.form {
  width: 100%;
  max-width: 403px;
  min-height: 455px;
  box-sizing: border-box;
  padding: 28px 50px 20px 50px;
  flex-shrink: 0;

  background: #011c40;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
}

.form p {
  margin-bottom: 26px;
  margin-right: -10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;
}

.form input {
  margin-bottom: 20px;

  width: 100%;
  height: 43px;
  box-sizing: border-box;
  padding: 13px 5px 13px 16px;

  border: 0;
  border-radius: 0;
  background-color: #f9fbfd;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: #011c40;
  }
}

.form__checkbox-agreement {
  position: relative;
  margin-bottom: 25px;

  padding-left: 23px;
}

.form__checkbox-agreement input {
  display: none;
}

.form__checkbox-agreement label {
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  color: #f9fbfd;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: #f9fbfd;
  }
}

.form__checkbox-agreement input:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  background-image: url("../img/form-daw.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__submit-button button {
  width: 100%;
  min-height: 43px;
  padding: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #011c40;

  border: 0;
  background-color: #f9fbfd;

  cursor: pointer;

  &:hover,
  &:focus {
    color: darken(#f9fbfd, 30%);
  }
}

.form__line-end {
  display: none;
}

@media (max-width: $mobile-width) {
  .form {
    min-height: 460px;
    padding: 14px 30px 20px 30px;
  }

  .form p {
    margin-right: 0;

    text-align: center;
  }

  .form__checkbox-agreement {
    display: flex;
    padding-left: 28px;
  }

  .form__checkbox-agreement label {
    line-height: 12px;

    &::before {
      width: 20px;
      height: 20px;
    }
  }

  .form__checkbox-agreement input:checked + label::after {
    width: 20px;
    height: 20px;
  }

  .form__line-end {
    display: block;
  }
}
