
.nav__list {
  @include reset-list;
  margin-left: 80px;

  display: flex;
  flex-wrap: wrap;

  &--footer {
    margin-left: 8px;
  }
}

.nav__item {
  margin-left: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f9fbfd;

  &:hover,
  &:focus {
    color: darken(#f9fbfd, 30%);
  }
}

@media (max-width: $tablet-width) {
  .nav__list {
    &--footer {
      margin-left: 0;
    }
  }

  .nav__item {
    margin-left: 24px;
    margin-top: 0;
  }

  .nav__link {
    font-size: 14px;
    line-height: 17px;

    &--footer {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

@media (max-width: $mobile-width) {
  .nav__list {
    flex-direction: column;
    margin-left: 0;
    margin-top: 42px;
    margin-bottom: 20px;

    &--footer {
      margin-top: 22px;
      margin-bottom: 6px;
    }
  }

  .nav__item {
    margin-left: 0;
    margin-bottom: 21px;

    &--order-change {
      order: -1;
    }

    &--footer {
      margin-bottom: 14px;
    }
  }

  .nav__link {
    &--main-menu {
      font-size: 18px;
      line-height: 22px;
      color: #011c40;
    }

    &--main-menu:hover,
    &--main-menu:focus {
      color: lighten(#011c40, 30%);
    }
  }
}
