
.page-footer {
  margin: 0 auto;

  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  min-width: $min-width;
  box-sizing: border-box;
  padding: 50px 70px 47px 103px;

  background-color: #011c40;
}

.page-footer__wrapper {
  display: flex;
}

.page-footer__logo-image {
  fill: #f9fbfd;
}

@media (max-width: 1090px) {
  .page-footer {
    padding-left: 40px;
    padding-right: 50px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding: 48px 22px 43px 45px;
  }

  .page-footer__logo-image {
    width: 38px;
    height: 20px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    flex-direction: column;
    padding: 40px 15px 35px 15px;
  }

  .page-footer__wrapper {
    flex-direction: column;
  }

  .page-footer__logo-image {
    width: 42px;
    height: 22px;
  }
}
