
.page-footer {
  flex: 0 0 auto;

  background-color: #011c40;
}

.page-footer__wrapper {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  min-width: $min-width;
  box-sizing: border-box;
  padding: 50px 70px 47px 103px;
}

.page-footer__wrapper-content {
  display: flex;
}

.page-footer__logo-image {
  fill: #f9fbfd;
}

@media (max-width: 1140px) {
  .page-footer__wrapper {
    padding-left: 45px;
    padding-right: 30px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__wrapper {
    padding: 48px 22px 43px 45px;
  }

  .page-footer__logo-image {
    width: 38px;
    height: 20px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 15px 35px 15px;
  }

  .page-footer__wrapper-content {
    flex-direction: column;
  }

  .page-footer__logo-image {
    width: 42px;
    height: 22px;
  }
}
