
.page-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  box-sizing: border-box;
  padding: 35px 103px;
}

.page-header__logo-image {
  fill: #f9fbfd;
}

.page-header__toggle {
  position: absolute;
  top: 10px;
  right: 5px;

  display: none;
  width: 40px;
  height: 40px;

  border: none;
  background: transparent;
}

@media (max-width: $tablet-width) {
  .page-header {
    padding: 30px 45px;
  }

  .page-header__logo-image {
    width: 38px;
    height: 20px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    position: relative;

    flex-direction: column;
    padding: 20px 15px;

    &--menu-closed {
      position: absolute;
    }

    &--menu-opened {
      position: relative;
    }
  }

  .page-header__logo-image {
    width: 42px;
    height: 22px;

    fill: #011c40;
  }

  .page-header--menu-closed .page-header__logo-image {
    fill: #f9fbfd;
  }

  .page-header--menu-opened .page-header__toggle {
    display: block;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 19px;
      left: 13px;

      width: 18px;
      height: 2px;

      background-color: #011c40;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .page-header--menu-closed .page-header__toggle {
    display: block;

    &::before {
      content: "";

      position: absolute;
      top: 13px;
      left: 6px;

      width: 25px;
      height: 2px;

      background-color: #f9fbfd;
      box-shadow: 0 6px 0 0 #f9fbfd, 0 12px 0 0 #f9fbfd;
    }
  }

  .page-header--menu-closed .page-header__nav {
    display: none;
  }
}
