
.social {
  margin-left: 50px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__link {
  margin-right: 33px;

  &:hover .social__image,
  &:focus .social__image {
    fill: darken(#f9fbfd, 30%);
  }
}

.social__image {
  fill: #f9fbfd;
}

@media (max-width: $tablet-width) {
  .social__link {
    margin-right: 23px;
  }

  .social__image {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    margin-left: 0;
  }
}
