
.social {
  margin-left: 30px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 200px;
  max-width: 250px;
}

.social__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__link {
  margin-right: 33px;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover .social__image,
  &:focus .social__image {
    fill: darken(#f9fbfd, 30%);
  }
}

.social__image {
  fill: #f9fbfd;
}

@media (max-width: $tablet-width) {
  .social {
    min-width: 130px;
    max-width: 200px;
  }

  .social__link {
    margin-top: 5px;
    margin-right: 23px;
  }

  .social__image {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    margin-left: 0;

    justify-content: flex-start;
  }
}
