
.upcoming-cruises {
  padding: 88px 25px 90px 55px;
}

.upcoming-cruises__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upcoming-cruises__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;

  width: 260px;
  height: 386px;
}

.upcoming-cruises__text-info {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 10px 25px;

  background-color: #011c40;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
}

.upcoming-cruises__item:hover .upcoming-cruises__text-info,
.upcoming-cruises__item:focus .upcoming-cruises__text-info, {
  z-index: 1;
}

.upcoming-cruises h2 {
  margin-right: 30px;
  margin-bottom: 48px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011c40;
  text-align: center;
}

.upcoming-cruises h3 {
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;
}

.upcoming-cruises__wrapper-image h3 {
  position: absolute;
  left: 30px;
  bottom: 8px;
}

.upcoming-cruises h4 {
  margin-top: 0;
  margin-bottom: 2px;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #f9fbfd;
}

.upcoming-cruises p {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #d8d8d9;
}

.upcoming-cruises a {
  margin-top: 25px;

  display: block;
  width: 210px;
  min-height: 40px;
  box-sizing: border-box;
  padding: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #011c40;
  text-align: center;

  background-color: #f9fbfd;

  &:hover {
    color: lighten(#011c40, 30%);
  }
}

.upcoming-cruises img {
  display: block;
}

@media (max-width: $tablet-width) {
  .upcoming-cruises {
    padding-top: 68px;
  }

  .upcoming-cruises__item {
    width: 309px;
  }

  .upcoming-cruises h2 {
    font-size: 26px;
    line-height: 39px;
  }

  .upcoming-cruises__text-info {
    padding-left: 35px;
  }

  .upcoming-cruises__wrapper-image h3 {
    left: 35px;
    bottom: 13px;
  }

  .upcoming-cruises a {
    width: 239px;
  }

  .upcoming-cruises img {
    width: 309px;
    height: 386px;
  }
}

@media (max-width: $mobile-width) {
  .upcoming-cruises {
    padding: 38px 0 120px 20px;
  }

  .upcoming-cruises h2 {
    margin-right: 20px;
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }

  .upcoming-cruises__item {
    margin-right: 20px;

    width: 270px;
  }

  .upcoming-cruises__text-info {
    padding-left: 25px;
  }

  .upcoming-cruises__wrapper-image h3 {
    left: 25px;
    bottom: 3px;
  }

  .upcoming-cruises a {
    width: 220px;
  }

  .upcoming-cruises img {
    width: 270px;
    height: 386px;
  }
}
